@import '../../styles/variables.scss';

.ingredientGrid {
  grid-template-columns: 2fr 1fr 1fr 15px;
}

.ingreidentInput {
  min-width: auto;
}

.stepsGrid {
  grid-template-columns: 30px 1fr 15px;
}

.labelInput {
  min-width: 120px;
}

.labelWrapper {
  flex: 1;
}

.label {
  min-width: 150px;
  flex: 1;
}

.labelRemove {
  position: absolute;
  right: 4px;
}

.image {
  height: 250px;
  width: 100%;
}