@import '../../../styles/variables.scss';

.select {
  height: 52px;
  min-width: 120px;
  background-color: $color-input-blue;
  width: 100%;
  resize: vertical;

  @include screen-m(min) {
    min-width: 250px;
  }
}

.label {
  position: absolute;
  font-size: 10px;
  top: 30%;
  transform: translateY(-50%);
  left: 0.75rem;
}

.icon {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 0.75rem;
  pointer-events: none;
}