@import '../../../styles/variables.scss';

.select {
  height: 52px;
  min-width: 120px;
  background-color: $color-light-grey;
  width: 100%;
  resize: vertical;
  border-bottom: 2px solid $color-dark-grey;
  transition: $default-transition;

  &:focus {
    border-color: $color-secondary;
  }
}

.label {
  position: absolute;
  font-size: 10px;
  top: 30%;
  transform: translateY(-50%);
  left: 0.75rem;
  transition: $default-transition;
}

.icon {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 0.75rem;
  pointer-events: none;
}
