@import '../../styles/variables.scss';

.groceryListItem {
  touch-action: none;
  border-bottom: 1px dashed $color-main;
  cursor: grab;
}

.groceryGrid {
  @include screen-m(max) {
    width: 70%;
  }
}
