@use '@styles/mixins/breakpoints' as *;
@use '@styles/variables' as *;

// Radius
.rounded-l {
  border-radius: 35px;
}
.rounded-m {
  border-radius: 20px;
}
.rounded-top-l {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.rounded-top-m {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.rounded-s {
  border-radius: 10px;
}
.rounded-full {
  border-radius: 50%;
}

// Mobile variations {
@include screen-m(max) {
  .mobile-exclude-top {
    border-radius: 0 0 20px 20px;
  }
}

// Borders
.bordered {
  border: 2px solid $color-black;
}
.border-bottom {
  border-bottom: 1px solid $color-black;
}

// Box shadow {
.shadow-top {
  box-shadow: $shadow-top;
}
