//
//  Grid
//  _____________________________________________
.dg {
  display: grid
}

// Grid templates
.gtc-2 {
  grid-template-columns: 1fr 1fr
} 
.gtc-3 {
  grid-template-columns: 1fr 1fr 1fr
}

// Grid alignment
.ass {
  align-self: start
}
.asc {
  align-self: center
}
.ase {
  align-self: end
}
.jss {
  justify-self: start
}
.jsc {
  justify-self: center
}
.jse {
  justify-self: end
}



//
//  Flex
//  _____________________________________________
.df {
  display: flex
}
.fdc {
  flex-direction: column
}
.aic {
  align-items: center
}
.jcc {
  justify-content: center
}
.jcsb {
  justify-content: space-between
}
.jcfe {
  justify-content: flex-end
}
.acc {
  align-content: center
}
.asfs {
  align-self: start
}
.fww {
  flex-wrap: wrap
}

//
//  Alignment
//  _____________________________________________
.centered {
  margin: auto
}

//
//  Positioning
//  _____________________________________________
.pos-relative {
  position: relative
}


.h-100 {
  height: 100%
}

.w-100 {
  width: 100%;
}