@use '@styles/mixins/breakpoints' as *;

//
// Visibility
//________________________
.hidden {
  display: none !important;
}

.mobile-hidden {
  @include screen-m(max) {
    display: none !important;
  }
}

.desktop-hidden {
  @include screen-m(min) {
    display: none !important;
  }
}

.mobile-hidden-s {
  @include screen-s(max) {
    display: none !important;
  }
}

.desktop-hidden-s {
  @include screen-s(min) {
    display: none !important;
  }
}
