//
// Visibility
//________________________
.hidden {
  display: none !important
}

.mobile-hidden {
  @include screen-m(max) {
    display: none !important
  }
}

.desktop-hidden {
  @include screen-m(min) {
    display: none !important
  }
}