@import './variables.scss';

.wrapper {
  height: 100vh;
  // background-image: url('../assets/bg.svg');
  background-position: 30% 30%;
  background-size: cover;
}

section {
  position: relative;

  @include screen-m(min) {
    padding: 0 42px;
  }

  @include screen-xxl(max) {
    &.full-page {
      grid-column: 2/4;
    }
  }

  @include screen-m(max) {
    margin-top: -26px;

    &.grid {
      display: grid;
    }
  }
}

aside {
  @include screen-m(min) {
    margin-top: 100px;
  }
}

hr {
  border: 1px solid #dddddd;
}

.message {
  display: block;
  padding: 16px;
  font-size: 14px;

  &.success {
    color: #2b7515;
    background: #ecffd6;
    border-left: 3px solid #617c42;
  }

  &.error {
    color: #ba3939;
    background: #ffe0e0;
    border-left: 3px solid #a33a3a;
  }

  &.mobile {
    @include screen-m(max) {
      position: fixed;
      margin: 0;
      top: 0;
      left: 50%;
      border-radius: 0 0 20px 20px;
      // transform: translateX(-50%);
      animation: messageSlider 3.5s forwards;
      z-index: 50;
    }
  }

  @keyframes messageSlider {
    0% {
      transform: translateY(-100%) translateX(-50%);
    }
    10% {
      transform: translateY(0) translateX(-50%);
    }
    80% {
      transform: translateY(0) translateX(-50%);
    }
    100% {
      transform: translateY(-100%) translateX(-50%);
    }
  }
}

body > * {
  color: $color-black;
}

.main {
  @include screen-m(min) {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  @include screen-m(max) {
    padding-bottom: 70px;
    min-height: 100%;
  }
}

@include screen-m(max) {
  body.detail-page {
    .navigation,
    .lang {
      display: none;
    }
  }

  body.overlay {
    overflow: hidden;
  }
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid $color-main;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
