@import './variables.scss';

.wrapper {
  height: 100vh;
  background-image: url('../assets/bg.svg');
  background-size: cover;
}

section {
  @include screen-s(min) {
    padding: 0 42px;
  }

  @include screen-s(max) {
    margin-top: -26px
  }
}

.message {
  padding: 16px;
  font-size: 14px;

  &.success {
    color: #2b7515;
    background: #ecffd6;
    border-left: 3px solid #617c42;
  }

  &.error {
    color: #ba3939;
    background: #ffe0e0;
    border-left: 3px solid #a33a3a;
  }
}
body > * {
  color: $color-black
}

.main {
  @include screen-s(min) {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

@include screen-s(max) {
  body.detail-page {
    .navigation,
    .lang {
      display: none;
    }
  }

  body.nav-open {
    overflow: hidden;
  }
}