//
// Colors
//________________________________________

// Gray scale
$color-black: #333;
$color-black-full: #111;
$color-grey: #999;
$color-dark-grey: #666;
$color-light-grey: #f5f5f5;
$color-lightest-grey: #F1F5FE;
$color-white: #fff;

// Theme colors
$color-main: #F1A661;
$color-main-dark: #e18733;
$color-main-light: #FFD8A9;
$color-main-bg: #FFEBD4;
$color-main-bg-light: #FDEEDC;

// Secondary theme colors
$color-secondary: #5C8D89;

//
// Font
//________________________________________
$font-family-logo: 'Titan One';
$font-family-main: 'Poppins';

//
// Borders / Shadows
//
$default-border: 1px solid #ddd;
$shadow-top: 0px -4px 8px 0px rgba(108, 108, 108, 0.25);

//
// Breakpoints
//________________________________________
$screen-xxs: 360px; // Mobile extra small
$screen-xs: 480px; // Mobile small
$screen-s: 768px; // Mobile
$screen-m: 1025px; // Tablet
$screen-l: 1200px; // Desktop

@import './mixins/breakpoints.scss'