@import '../../styles/variables.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;

  @include screen-s(min) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include screen-xl(min) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.detailPage {
  @include screen-m(max) {
    grid-template-columns: 1fr;
  }

  @include screen-m(min) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.detailsIngredientsWrapper {
  @include screen-m(min) {
    grid-row: 2/5;
  }
}

.detailsInfoWrapper {
  @include screen-m(max) {
    margin-top: -60px;
    background-color: $color-white;
    padding: 24px 24px 0 24px;
    border-radius: 40px 40px 20px 20px;
    z-index: 1;
  }
}

.backButton {
  position: absolute;
  top: 48px;
  left: 32px;
}

.formWrapper {
  @include screen-m(max) {
    margin-top: -26px;
  }
}

// Edit form delte button
.deleteButton {
  position: absolute;
  right: 80px;
  top: 45px;
}

//
// Type list filter
// ________________________________
.activeType {
  background-color: $color-main !important;
  color: $color-white !important;
}

.addToShoppingList {
  @include screen-m(max) {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: #fff;
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;

    span {
      display: none;
    }
  }
}

//
// Recipes List page
// ________________________________

.listWrapper {
  @include screen-m(max) {
    padding-bottom: 90px;
  }

  @include screen-m(min) {
    border-radius: 20px;
  }
}
