@import '../../../styles/variables.scss';

.textarea {
  min-height: 76px;
  background-color: $color-light-grey;
  width: 100%;
  resize: vertical;
  border-bottom: 2px solid $color-dark-grey;

  @include screen-m(min) {
    // min-width: 250px;
  }

  &:focus {
    border-color: $color-secondary;
  }
}

.label {
  position: absolute;
  top: 25px;
  transform: translateY(-50%);
  left: 0.75rem;

  &.focus {
    font-size: 10px;
    top: 15px;
  }
}