@import '../../../styles/variables.scss';

.textarea {
  min-height: 76px;
  background-color: $color-light-grey;
  width: 100%;
  resize: vertical;
  border-bottom: 2px solid $color-dark-grey;

  &:focus {
    border-color: $color-secondary;
  }
}

.label {
  position: absolute;
  top: 25px;
  transform: translateY(-50%);
  left: 0.75rem;
  transition: $default-transition;

  &.focus {
    font-size: 10px;
    top: 15px;
  }
}
