@import '../../../styles/variables.scss';

.textarea {
  min-height: 76px;
  background-color: $color-input-blue;
  width: 100%;
  resize: vertical;

  @include screen-m(min) {
    min-width: 250px;
  }
}

.label {
  position: absolute;
  top: 25px;
  transform: translateY(-50%);
  left: 0.75rem;

  &.focus {
    font-size: 10px;
    top: 15px;
  }
}