@import '../../../styles/variables.scss';

.wrapper {
  @include screen-m(max) {
    display: none;
    top: -78px;
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 12px;
    background-color: $color-white;
  }

  @include screen-m(min) {
    &.searchOnBanner {
      margin-top: 400px;
      margin-right: 40px;
      z-index: 2;
    }
  }

  &.open {
    @include screen-m(max) {
      // Todo: Add an animation for the search bar.
      top: 0;
      display: block;

      .overlay {
        opacity: 1;
      }
    }
  }

  .input {
    background-color: $color-white;
    border: none !important;
    min-width: 400px;

    @include screen-m(max) {
      background-color: $color-light-grey;
    }
  }

  .searchButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    right: 0;
    height: 52px;
    border-radius: 0 20px 20px 0;

    &:disabled {
      cursor: default;
      pointer-events: none;
    }

    &:not(:disabled) {
      background-color: $color-black;
      color: $color-white;

      &:hover {
        background-color: #000;
      }
    }
  }

  .clear {
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
  }
}
