@import '../../../styles/variables.scss';

.filterToggle {
  @include screen-m(min) {
    display: none !important;
  }

  @include screen-m(max) {
    position: absolute;
    right: 20px;
    top: 90px;
    border: 1px solid $color-main;

    &.publicFilter {
      top: 270px;
    }
  }
}

.content {
  @include screen-m(min) {
    position: sticky;
    top: 0;
  }

  @include screen-m(max) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: $default-transition;

    &.open {
      height: 100%;
    }
  }
}
