@use '@styles/mixins/breakpoints' as *;

.shoppingListGrid {
  padding-top: 24px;

  @include screen-l(min) {
    grid-template-columns: 3fr 2fr;
  }

  @include screen-m(max) {
    margin: 0 15px;
    padding-bottom: 150px;
  }
}

.submitButtonWrapper {
  @include screen-l(max) {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 30;
    padding: 13px 15px;
    background-color: $color-white;
    border-bottom: $default-border;
    box-shadow: $shadow-top;

    button {
      height: 42px;
      font-size: 16px;
    }
  }

  @include screen-m(max) {
    bottom: 65px;

    button {
      height: 38px;
      font-size: 14px;
    }
  }
}
