@import '../../../styles/variables.scss';

.stickyNav {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: fixed;
  z-index: 50;
  height: 65px;
  bottom: 0;

  &:not(.formPage) {
    &:not(.open) {
      box-shadow: $shadow-top;
    }
  }

  &.openRecipe {
    .recipe {
      background-color: $color-main;
      border-radius: 0 0 10px 10px;
      color: $color-white;
    }
  }

  &.openShopping {
    .shopping {
      background-color: $color-main;
      border-radius: 0 0 10px 10px;
      color: $color-white;
    }
  }

  .active {
    color: $color-main;
  }
}

.stickySubNav {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: fixed;
  height: 65px;
  bottom: 65px;
  z-index: 40;
  transition: $default-transition;

  &.recipeSubNav {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &.shoppingSubNav {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &:not(.open) {
    transform: translateY(65px);
  }

  &.open {
    &:not(.formPage) {
      box-shadow: $shadow-top;
    }
  }
}
